<section class="container">
  <div class="col-lg-5 bib-box-shadow">
    <h3>
      language
    </h3>

    <table class="table table-hover">
      <tr>
        <th>#</th>
        <th>language</th>
        <th>action</th>
      </tr>
      <tr *ngFor="let langue of langues">
        <td>{{langue.code_langue}}</td>
        <td>
          <input type="text" [(ngModel)]="langue.langue" #inputEdit="ngModel" maxlength="20" minlength="1" required="required" style="background: transparent;border: none;"
          />
          <p>
            <span class="bib-form-valid-error" *ngIf="inputEdit.errors?.required && inputEdit.touched">please enter a language</span>
            <span class="bib-form-valid-error" *ngIf="inputEdit.errors?.minlength && inputEdit.touched">Invalid language minlength </span>
            <span class="bib-form-valid-error" *ngIf="inputEdit.errors?.maxlength && inputEdit.touched">Invalid language maxlength </span>
          </p>
        </td>
        <td>
          <button md-mini-fab color="warn" style="width:25px;height:25px" (click)="onRemove(langue)">
            <md-icon class="md-24" style="padding:0px">clear</md-icon>
          </button>
          <button [disabled]="!inputEdit.dirty || inputEdit.errors?.required || inputEdit.errors?.minlength || inputEdit.errors?.maxlength" md-mini-fab class="btn-success" (click)="Edit(langue)" style="width:25px;height:25px"> 
            <md-icon class="md-24" style="padding:0px">edit</md-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>


  <div class="col-lg-4 col-lg-offset-1 bib-box-shadow">


    <form #add_form="ngForm" (ngSubmit)="ngSubmit(add_form)" novalidate="novalidate">

      <md-input [ngModel]="inputLang" #language="ngModel" name="language" type="text" maxlength="20" minlength="1" placeholder="language"
        style="width:100%" required="required"></md-input>
      <p>
        <span class="bib-form-valid-error" *ngIf="language.errors?.required && language.touched">please enter a language</span>
        <span class="bib-form-valid-error" *ngIf="language.errors?.minlength && language.touched">Invalid language minlength {{add_form.form.controls.codelanguage._errors.minlength.requiredLength}}</span>
        <span class="bib-form-valid-error" *ngIf="language.errors?.maxlength && language.touched">Invalid language maxlength {{add_form.form.controls.codelanguage._errors.maxlength.requiredLength}}</span>
        <span class="bib-form-valid-error" *ngIf="error">{{error|json}}</span>
      </p>

      <button [disabled]="add_form.form.invalid" md-raised-button color="primary" class="bib-btn-midel" type="submit" style="margin: 10px;">ADD</button>
    </form>
  </div>


</section>